---
import { CardTraining } from "../../molecules";
import { TRAINING_OPTIONS } from "./../../../static/service-training";
---

<section class="wrapper-services box-animation" data-width="full">
  <h2 class="title">Servicios de Entrenamiento</h2>
  <p class="subtitle">
    Ofrecemos diferentes modalidades de entrenamiento adaptadas a tus
    necesidades
  </p>
  <div class="cards">
    {
      TRAINING_OPTIONS.map((option) => (
        <CardTraining
          title={option.title}
          icon={option.icon}
          description={option.description}
          features={option.features}
          priceRange={option.priceRange}
          unit={option.unit}
        />
      ))
    }
  </div>
</section>

<style>
  @import url("./service-training.css");
</style>
